.mainContainer{
    width: 95%;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.329),
    rgba(0,0,0, 100)
  ),url("../../assets/imgs/bg3.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0 auto;
    margin-top: 4%;
    /* padding: 2%; */

}
@import url(https://fonts.googleapis.com/css?family=Roboto);
.container2 {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3%;
    /* border-radius: 1%; */
  }
  .container2 .title{
    text-align: center;
    padding: 1%;
    color: #034F50;
  }

  .container2 .titleH1, .container2 .titleH4 {
    text-align: center;
  }
  .container2 span.s1 {
    position: absolute;
    top: 0;
    font-size: 15rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #3C4447;
  }
  .container2 span.s2 {
    font-weight: 800;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15rem;
    text-transform: uppercase;
    color: #3C4447;
  }
  
  .container2 .card {
    padding: 20px;
    height: auto;
    width: 90%;
    margin: 3% auto;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  }
  .container2 .thumbnail {
    float: left;
    position: relative;
    margin-top: -40px;
    height: 60%;
    width: 50%;
    padding-right: 15px;
  }
  .container2 img.left {
    height: auto;
    width: 100%;

    -webkit-filter: drop-shadow(-10px -10px 7px rgba(34, 34, 34, 0.5));
    filter: drop-shadow(-10px -10px 7px rgba(34, 34, 34, 0.5));
  }
  .container2 .right {
    margin-right: 20px;
  }
  .container2 h1 {
    font-size: 1.3rem;
    color: #4B4B4B;
  }
  .container2 .separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
  }
  .container2 section {
    padding-right: 10px;
    padding-bottom: 30px
}
  .container2 p {
    text-align: justify;
    font-size: 0.95rem;
    line-height: 150%;
    color: #4B4B4B;
}
.container2 h6 {
    font-size: 1rem;
    color: #C3C3C3;
    margin: 0;
    padding: 0;
  }

  .container2 .fab {
    float: right;
  }