.containerHomeContact {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3%;
}

.containerHomeContact img {
    width: 100%;
}

.containerHomeContact .title{
    text-align: center;
    padding: 1%;
    color: #034F50;
  }